<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Showcase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
    <body>

            <nav class="navbar sticky-top navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">News Dashboard</a>
                </div>
            </nav>
            <div class="container-fluid">
            <div class="row">
                {% if steam_news %}
            <div class="card col-md-6">
                <div class="card-header">Steam News</div>
                <div class="card-body">
                    <div class="card-text">
                        {% for article in steam_news %}
                        <h5><a href="{{ article.url }}">{{ article.title }}</h5></a>
                        <br>
                        <p>{{ article.contents }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
                {% endif %}
                <!--Tech news-->
            {% if tech_news %}
            <div class="card col-md-6">
                <div class="card-header">Tech News</div>
                <div class="card-body">
                    <div class="card-text">
                        {% for article in tech_news %}
                        <h5><a href="{{ article.url }}">{{ article.title }}</h5></a>
                        <br>
                        <p>{{ article.description }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
                {% endif %}
            </div> <!--End Row-->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>